@use '../../../styles/variables';
.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: variables.$neutral-very-light-grayish-blue;
    
    width: 100%;
    span{
        color: variables.$neutral-grayish-blue;
    }
    .author{
        color: variables.$neutral-white;
    }
}

.notification-counter{
    display: flex;
    align-items: center;
    
    h2{
        margin-right: 0.5rem;
        color: variables.$neutral-very-dark-blue; 
    }

    span{
        width: 1rem;
        height: 1rem;
        padding: 0.2rem 0.5rem ;
        border-radius: 5px;
        text-align: center;
        align-items: center;
        color: variables.$neutral-white;
        background-color: variables.$primary-blue;
    }
}

.author{
    padding: 0.2rem 0.5rem ;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    color: variables.$neutral-white;
    background-color: variables.$primary-blue;
}

@media screen and (max-width: 600px){
    .author{
       display: none;
    }
}